.turnplate_box {
  width: 100%;
  position: relative;
}
.turnplatw_btn {
  width: 1.5rem;
  height: 1.5rem;
  left: 50%;
  top: 50%;
  margin-left: -0.75rem;
  margin-top: -0.75rem;
  border-radius: 0.75rem;
  position: absolute;
  cursor: pointer;
  border: none;
  background-color: #FF4350;
  outline: none;
  color: #fff;
}
.turnplatw_btn span {
  display: inline-block;
  width: 2em;
}
