@r: 100rem;
.turnplate_box {
    width: 100%;
    position: relative;
}
.turnplatw_btn {
    width: 150/@r;
    height: 150/@r;
    left: 50%;
    top: 50%;
    margin-left: -150*.5/@r;
    margin-top: -150*.5/@r;
    border-radius: 150*.5/@r;
    position: absolute;
    cursor: pointer;
    border: none;
    background-color: #FF4350;
    outline: none;
    color: #fff;
    span{
        display: inline-block;
        width: 2em;
    }
}
.prize{
    text-align: center;
    font-size: 30/@r;
}
.end_alert{
    padding-top: 1em;
    text-align: center;
    font-size: 30/@r;
}
