@r: 100rem;
.wrap{
    height: 100%;
    position: relative;
    p{
        padding-top: 20/@r; 
        overflow: hidden;
        .chooseList{
            float: right;
        }
    }
    .zdrag{
        position: relative;
        li{
            font-family:"微软雅黑";
        }
        .change{
            opacity: .5;
        }
    }
}
