.wrap {
  height: 100%;
  position: relative;
}
.wrap p {
  padding-top: 0.2rem;
  overflow: hidden;
}
.wrap p .chooseList {
  float: right;
}
.wrap .zdrag {
  position: relative;
}
.wrap .zdrag li {
  font-family: "微软雅黑";
}
.wrap .zdrag .change {
  opacity: .5;
}
